<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <base href="">
    <link rel="stylesheet" href="<%= Beaker.Router.static_path(@conn, "/css/normalize.css") %>">
    <link rel="stylesheet" href="<%= Beaker.Router.static_path(@conn, "/css/foundation.min.css") %>">
    <link rel="stylesheet" href="<%= Beaker.Router.static_path(@conn, "/css/beaker.css") %>">
    <script src="<%= Beaker.Router.static_path(@conn, "/js/highcharts.js") %>"></script>

    <title>Beaker</title>
  </head>

  <body>
    <main role="main">
      <h1 id="header">Beaker</h1>
      <%= @inner %>
    </main>
  </body>
</html>
