body {
  background: #FDF6E3;
}

#header {
  text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 64px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.metric-type {
  text-align: center;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.widget {
  margin: 10px 0;
}

.counter, .gauge {
  height: 250px;
  width: 250px;
  font-family: sans-serif;
  background: #EEE8D5;
  border-style: solid;
  border-width: thin;
  margin: 0 auto;
}

.counter .value, .gauge .value {
  padding: 0;
  margin: 0;
  font-size: 100px;
  text-align: center;
}

.counter .name, .gauge .name {
  padding: 0;
  margin: 0;
  font-size: 25px;
  text-align: center;
}

.time-series {
  height: 250px;
  width: 1000px;
  margin: 0 auto;
}

.yellow {
  color: #B58900;
  border-color: #B58900;
}

.orange {
  color: #CB4B16;
  border-color: #CB4B16;
}

.red {
  color: #DC322F;
  border-color: #DC322F;
}

.magenta {
  color: #D33682;
  border-color: #D33682;
}

.violet {
  color: #6C71C4;
  border-color: #6C71C4;
}

.blue {
  color: #268BD2;
  border-color: #268BD2;
}
.cyan {
  color: #2AA198;
  border-color: #2AA198;
}

.green {
  color: #859900;
  border-color: #859900;
}
